<header id="banner">
	<h2><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h2>
	<nav>
		<ul>
			{{ range .Site.Menus.main.ByWeight -}}
			<li>
				{{ .Pre }}<a href="{{ .URL }}" title="{{ .Title }}"
					>{{- .Name -}}</a
				>{{ .Post }}
			<span style="margin-left: 1.5rem">
			</li>
			{{- end }}
			<span style="margin-left: 2.5rem">
				{{ range .Site.Menus.socials.ByWeight -}}
				<li>
					<span style="margin-left: 1.5rem">
					{{ .Pre }}<a href="{{ .URL }}" title="{{ .Title }}"
						>{{- .Name -}}</a
					>{{ .Post }}
				</li>
				{{- end }}
			</span>
		</ul>
			<hr>
	</nav>
	<script
		defer
		data-domain="maxdesalle.com"
		data-api="/something/api/event"
		src="/something/js/script.js"
	></script>
</header>
